.topbar {
  padding: 5px;
  .nav {
    margin: 5px;
    .logoImg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin: 10px;
    }
    .collapse {
      .topList {
        font-size: 16px;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
      }

      .topListLink {
        color: white;
      }
      .topListLink:hover {
        color: rgb(174, 116, 184);
        font-size: 16px;
      }
      .searchInput {
        width: 100%;
        position: relative;
        height: 40px;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        margin: 4px;
      }

      .searchBtn {
        position: absolute;
        right: 0;
        border: none;
        outline: none;
      }
      .searchIcon {
        border: none;
        outline: none;
        color: green;
        font-size: 24px;
      }
      .searchIcon,
      .searchBtn:focus {
        border: none;
        outline: none;
      }
    }
  }
  .Link {
    text-decoration: none;
  }
}
