.single-service {
  padding: 10px;
  .singleMain {
    padding: 2px;

    .title {
      margin: 12px;
      padding: 10px;
      font-weight: bold;
      color: rgb(132, 23, 132);
    }
    .mainImg {
      width: 98%;
      height: 300px;
      border-radius: 10px;
      align-self: center;
      object-fit: cover;
      margin: 10px;
      padding: 10px;
    }
    .mainDesc {
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
      line-height: 30px;
      color: #444;
      margin: 10px;
      padding: 20px;
      line-height: 35px;
      cursor: pointer;
      border-bottom: 1px solid rgb(204, 199, 199);
    }
    .mainDesc::first-letter {
      font-size: 28px;
      color: rgb(28, 152, 152);
      font-weight: bold;
    }

    .apply-div {
      border-bottom: 1px solid rgb(204, 199, 199);
      .apply-btn {
        width: 400px;
        margin: 10px;
        padding: 10px;
        background-color: rgb(197, 78, 14);
        color: white;
        font-size: 18px;
        font-weight: bold;
      }
      .apply-btn:hover {
        background-color: rgb(231, 185, 68);
        color: #444;
      }
    }
  }
  .singleSide {
    -webkit-box-shadow: 2px 4px 10px 1px #999b9d1f;
    box-shadow: 2px 4px 10px 1px #8c8a8978;
    .title {
      font-size: 26px;
      color: rgb(157, 36, 161);
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      line-height: 30px;
      align-self: center;
      text-transform: capitalize;
      border-bottom: 1px solid rgb(218, 212, 212);
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .serviceTitle {
      color: rgb(28, 182, 182);
      font-size: 20px;
      font-family: "Times New Roman", Times, serif;
      line-height: 28px;
      font-weight: bold;
      cursor: pointer;
    }
    .serviceImg {
      width: 100%;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
      margin: 10px;
      padding: 10px;
      cursor: pointer;
    }
    .serviceDesc {
      font-size: 13px;
      font-family: "Times New Roman", Times, serif;
      font-weight: 400;
      font-style: italic;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      cursor: pointer;
      color: #1d1b1b;
    }
  }
  .Link {
    text-decoration: none;
  }
}
