.advert {
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  -webkit-box-shadow: 2px 4px 10px 1px #7b7d801f;
  box-shadow: 2px 4px 10px 1px #8c8a8978;
  background-color: var(--cardColor);

  .heading {
    font-size: 24px;
    color: var(--subText);
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }
  .sub-heading {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
    color: var(--subText);
    font-style: italic;
    border-bottom: 1px solid lightgray;
  }

  .advert-row {
    min-height: 300px;
    background: var(--cardColor);
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    .innerAdvert {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      padding: 10px;
      .advertName {
        font-size: 20px;
        color: var(--subText);
        font-weight: bold;
        margin: 10px;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        padding: 10px;
      }
      .advertImg {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 32px;
      }
    }
  }
}
