.footer {
  background: transparent;
  background-color: var(--main);
  color: white;
  width: 100%;
}

.titleFooter {
  font-size: 18px;
  font-weight: 500;
  line-height: 4px;
  color: white;
  margin-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(128, 125, 125);
  display: inline-block;
  width: auto;
}

.lists {
  list-style: none;
}

.list-items {
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 11px;
}
span {
  color: white;
  font-size: 12px;
}
.btn-group {
  margin: 15px;
}
input {
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 5px;
}

.subContainer {
  display: flex;
  color: white;
  position: relative;
  width: 280px;
}
.subInput {
  border: none;
  outline: none;
  border-right: 10px;
  border: 1px solid cyan;
}
.subBtn {
  position: absolute;
  right: 0;
  height: 100%;
  border-left: 10px;
}
.copyright {
  font-size: 18px;
  font-weight: 400;
  color: var(--info);
}

.social-lists {
  list-style: none;
  display: flex;
}
ul {
  list-style: none;
}
li {
  color: white;
  font-size: 14px;
}
.social {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 10px;
}
.myrows {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .items {
    margin: 0px;
  }
  .social-lists {
    margin: 3px;
  }
  .last-col {
    display: none;
  }
}

.my-form-group {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0 3px 7px 3px;
}
.sub-btn {
  background-color: var(--info);
  border: none;
  height: 2.5rem;
  border-radius: 5px;
}
.copy-link {
  color: white;
}
.copy-link:hover {
  color: red;
}
